build-*/
gitpoller-work/
gitpoller-workdir/
http.log
ircbot.json
master.cfg.sample
buildbot.tac.new
public_html/builds/
runtests/
slaves.json
state.sqlite
tokens.json
twistd.log*
twistd.pid
users.json
venv/
*.pyc
*~
*.swp
