[
    {"name": "selfslave", "password": "secret"},
    {"name": "buildslave-one", "password": "secret"},
    {"name": "buildslave-two", "password": "secret"},
    {"name": "buildslave-three", "password": "secret"},
    {"name": "buildslave-four", "password": "secret"},
    {"name": "buildslave-five", "password": "secret"},
    {"name": "buildslave-six", "password": "secret"},
    {"name": "poc-server-master", "password": "secret"},
    {"name": "poc-server-develop", "password": "secret"},
    {"name": "slave-cpp-one", "password": "secret"},
    {"name": "slave-cpp-one-develop", "password": "secret"},
    {"name": "slave-cpp-two", "password": "secret"},
    {"name": "slave-cpp-two-develop", "password": "secret"},
    {"name": "slave-cpp-three", "password": "secret"},
    {"name": "slave-cpp-three-develop", "password": "secret"},
    {"name": "slave-cpp-four", "password": "secret"},
    {"name": "slave-cpp-four-develop", "password": "secret"},
    {"name": "slave-cpp-five", "password": "secret"},
    {"name": "slave-cpp-five-develop", "password": "secret"},
    {"name": "slave-cpp-six", "password": "secret"},
    {"name": "slave-cpp-six-develop", "password": "secret"},
    {"name": "slave-cpp-one-deb", "password": "secret"},
    {"name": "slave-cpp-one-pr", "password": "secret"},
    {"name": "slave-cpp-two-deb", "password": "secret"},
    {"name": "slave-cpp-two-pr", "password": "secret"},
    {"name": "slave-cpp-three-deb", "password": "secret"},
    {"name": "slave-cpp-three-pr", "password": "secret"},
    {"name": "slave-cpp-four-deb", "password": "secret"},
    {"name": "slave-cpp-four-pr", "password": "secret"},
    {"name": "slave-cpp-five-deb", "password": "secret"},
    {"name": "slave-cpp-five-pr", "password": "secret"},
    {"name": "slave-cpp-six-deb", "password": "secret"},
    {"name": "slave-cpp-six-pr", "password": "secret"},
    {"name": "slave-cpp-one-integration", "password": "secret"},
    {"name": "slave-cpp-two-integration", "password": "secret"},
    {"name": "slave-cpp-three-integration", "password": "secret"},
    {"name": "slave-cpp-four-integration", "password": "secret"},
    {"name": "slave-cpp-five-integration", "password": "secret"},
    {"name": "slave-cpp-six-integration", "password": "secret"},
    {"name": "slave-go-one", "password": "secret"},
    {"name": "slave-go-one-develop", "password": "secret"},
    {"name": "slave-go-two", "password": "secret"},
    {"name": "slave-go-two-develop", "password": "secret"},
    {"name": "slave-go-three", "password": "secret"},
    {"name": "slave-go-three-develop", "password": "secret"},
    {"name": "slave-go-four", "password": "secret"},
    {"name": "slave-go-four-develop", "password": "secret"},
    {"name": "slave-go-five", "password": "secret"},
    {"name": "slave-go-five-develop", "password": "secret"},
    {"name": "slave-go-six", "password": "secret"},
    {"name": "slave-go-six-develop", "password": "secret"},
    {"name": "slave-go-one-deb", "password": "secret"},
    {"name": "slave-go-one-pr", "password": "secret"},
    {"name": "slave-go-two-deb", "password": "secret"},
    {"name": "slave-go-two-pr", "password": "secret"},
    {"name": "slave-go-three-deb", "password": "secret"},
    {"name": "slave-go-three-pr", "password": "secret"},
    {"name": "slave-go-four-deb", "password": "secret"},
    {"name": "slave-go-four-pr", "password": "secret"},
    {"name": "slave-go-five-deb", "password": "secret"},
    {"name": "slave-go-five-pr", "password": "secret"},
    {"name": "slave-go-six-deb", "password": "secret"},
    {"name": "slave-go-six-pr", "password": "secret"},
    {"name": "slave-go-one-arm", "password": "secret"},
    {"name": "slave-go-two-arm", "password": "secret"},
    {"name": "slave-go-three-arm", "password": "secret"},
    {"name": "slave-go-four-arm", "password": "secret"},
    {"name": "slave-go-five-arm", "password": "secret"},
    {"name": "slave-go-six-arm", "password": "secret"},
    {"name": "slave-python-one", "password": "secret"},
    {"name": "slave-python-one-pr", "password": "secret"},
    {"name": "slave-python-two", "password": "secret"},
    {"name": "slave-python-two-pr", "password": "secret"},
    {"name": "slave-java-one", "password": "secret"},
    {"name": "slave-java-one-pr", "password": "secret"},
    {"name": "slave-java-two", "password": "secret"},
    {"name": "slave-java-two-pr", "password": "secret"},
    {"name": "latentslave", "password": "secret"},
    {"name": "latentslave1", "password": "secret"},
    {"name": "latentslave2", "password": "secret"},
    {"name": "latentslave3", "password": "secret"},
    {"name": "latentslave4", "password": "secret"},
    {"name": "latentslave5", "password": "secret"},
    {"name": "latentslave6", "password": "secret"},
    {"name": "latentslave7", "password": "secret"},
    {"name": "latentslave8", "password": "secret"},
    {"name": "latentslave9", "password": "secret"},
    {"name": "latentslave10", "password": "secret"},
    {"name": "latentslave11", "password": "secret"},
    {"name": "latentslave12", "password": "secret"},
    {"name": "latentslave13", "password": "secret"},
    {"name": "latentslave14", "password": "secret"},
    {"name": "latentslave15", "password": "secret"},
    {"name": "latentslave16", "password": "secret"},
    {"name": "latentslave17", "password": "secret"},
    {"name": "latentslave18", "password": "secret"},
    {"name": "latentslave19", "password": "secret"},
    {"name": "latentslave20", "password": "secret"},
    {"name": "winslave", "password": "secret"},
    {"name": "winslave-go", "password": "secret"},
    {"name": "osx", "password": "secret"},
    {"name": "osx-two", "password": "secret"}
]
