[
    {"name": "selfslave", "password": "secret"},
    {"name": "buildslave-one", "password": "secret"},
    {"name": "buildslave-two", "password": "secret"},
    {"name": "buildslave-three", "password": "secret"},
    {"name": "buildslave-four", "password": "secret"},
    {"name": "poc-server-master", "password": "secret"},
    {"name": "poc-server-develop", "password": "secret"},
    {"name": "slave-cpp-three", "password": "secret"},
    {"name": "slave-cpp-three-develop", "password": "secret"},
    {"name": "slave-cpp-four", "password": "secret"},
    {"name": "slave-cpp-four-develop", "password": "secret"},
    {"name": "slave-cpp-one-deb", "password": "secret"},
    {"name": "slave-cpp-one-pr", "password": "secret"},
    {"name": "slave-cpp-two-deb", "password": "secret"},
    {"name": "slave-cpp-two-pr", "password": "secret"},
    {"name": "slave-go-three", "password": "secret"},
    {"name": "slave-go-three-develop", "password": "secret"},
    {"name": "slave-go-four", "password": "secret"},
    {"name": "slave-go-four-develop", "password": "secret"},
    {"name": "slave-go-one-deb", "password": "secret"},
    {"name": "slave-go-one-pr", "password": "secret"},
    {"name": "slave-go-two-deb", "password": "secret"},
    {"name": "slave-go-two-pr", "password": "secret"},
    {"name": "slave-python-one", "password": "secret"},
    {"name": "slave-python-one-pr", "password": "secret"},
    {"name": "slave-python-two", "password": "secret"},
    {"name": "slave-python-two-pr", "password": "secret"},
    {"name": "slave-java-one", "password": "secret"},
    {"name": "slave-java-one-pr", "password": "secret"},
    {"name": "slave-java-two", "password": "secret"},
    {"name": "slave-java-two-pr", "password": "secret"},
    {"name": "winslave", "password": "secret"},
    {"name": "osx", "password": "secret"},
    {"name": "slave-cpp-one", "password": "secret"},
    {"name": "slave-cpp-one-develop", "password": "secret"},
    {"name": "slave-go-one", "password": "secret"},
    {"name": "slave-go-one-develop", "password": "secret"},
    {"name": "slave-cpp", "password": "secret"},
    {"name": "slave-cpp-develop", "password": "secret"},
    {"name": "slave-cpp-deb", "password": "secret"},
    {"name": "slave-cpp-pr", "password": "secret"},
    {"name": "slave-go", "password": "secret"},
    {"name": "slave-go-develop", "password": "secret"},
    {"name": "slave-go-deb", "password": "secret"},
    {"name": "slave-go-pr", "password": "secret"},
    {"name": "slave-python", "password": "secret"},
    {"name": "slave-python-pr", "password": "secret"},
    {"name": "slave-java", "password": "secret"},
    {"name": "slave-java-pr", "password": "secret"}
]
